@font-face {
  font-family: 'Product Sans1';
  src: url('fonts/Product Sans Regular.ttf')  format('truetype'); 
}
@font-face {
  font-family: 'Product Sans2';
  src: url('fonts/Product Sans Bold.ttf')  format('truetype'); 
}

body {
	font-family: karla, sans-serif;
	background: linear-gradient(
          rgba(0, 0, 0, 0.5), 
          rgba(0, 0, 0, 0.5)
        );
	background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;
    background-attachment: fixed;
	background-color: #333;
	color: white;
	font-size: 20px;
}

a, a:hover, a:focus, a:active, a:visited {
	text-decoration: none;
	color: #fff;
}

h1.hello {
	/*padding-top: 20vh;*/
}

h1.hello, h1.timing {
	margin-bottom: 85px;
	font-size: 3.2rem;
}

input {
	border:none;
	border-bottom: 2px solid #fff;
	min-width: 850px;
	padding-bottom: 10px;
	background-color: transparent;
	color: #fff;
	outline: 0;
	margin-bottom: 20px;
}

.icons img {
	position: relative;
	height: 20px;
	width: auto;
	top: -2px;
}	
.icons a:not(:last-of-type) {
	padding-right: 20px;	
}	

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #fff;
}

.background {
	width:100vw;
	height:100vh;
	position: fixed;
	z-index: -1; filter: blur(12px) brightness(62%);
	margin: 0;
	padding: 0;
	background: url(img/bg.jpg) center center transparent;
}

.padding-top {
	padding-top: 12px;
}

.center-content {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0 auto;
	padding: 0;
}
